[submodule "api"]
	path = api
	url = git@github.com:dionsnoeijen/polysynergy-api.git
[submodule "portal"]
	path = portal
	url = git@github.com:dionsnoeijen/polysynergy-portal.git
[submodule "router"]
	path = router
	url = git@github.com:dionsnoeijen/polysynergy-router.git
[submodule "api-local"]
	path = api-local
	url = git@github.com:dionsnoeijen/polysynergy-api-local.git
