[submodule "router"]
	path = router
	url = git@github.com:dionsnoeijen/polysynergy-router.git
[submodule "api-local"]
	path = api-local
	url = git@github.com:dionsnoeijen/polysynergy-api-local.git
[submodule "nodes"]
	path = nodes
	url = git@github.com:dionsnoeijen/polysynergy-nodes.git
[submodule "node_runner"]
	path = node_runner
	url = git@github.com:dionsnoeijen/polysynergy-node-runner.git
[submodule "nodes_agno"]
	path = nodes_agno
	url = git@github.com:dionsnoeijen/polysynergy-nodes-agno.git
[submodule "nodes_dev"]
	path = nodes_dev
	url = git@github.com:dionsnoeijen/polysynergy-nodes-dev.git
