{
    email info@polysynergy.com
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

api.polysynergy.com {
    tls {
        dns route53
    }
    reverse_proxy api_local:8090
}

router.polysynergy.com {
    tls {
        dns route53
    }
    reverse_proxy router:8080
}

agno-db.polysynergy.com {
    tls {
        dns route53
    }
    reverse_proxy agno_session_db:5432
}

*.polysynergy.com {
    tls {
        dns route53
    }
    reverse_proxy router:8080
}